.wrapper {
  width: 100%;
}

.container {
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(55, 65, 81, 1);
  width: calc(100% - 256px);
  margin-top: 16px;
  margin-left: 256px;
}
