.sidebar {
  width: 256px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px;
  overflow: auto;
  background-color: var(--primary-700);
  color: white;
  display: flex;
  flex-direction: column;
}

.displayName {
  @apply mb-8 p-2;
}

.sidebarGroup {
  @apply flex flex-col gap-y-2 flex-1;
}

.sidebarItem {
  @apply hover:bg-primary-hover inline-block w-full rounded-lg bg-opacity-10 py-2 px-4 transition-colors;
}

.groupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;
}

.logoutButton {
  @apply mt-auto;
}

